@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.links {
    transition: height 0.6s ease-in-out !important;
  }
  #toggle-btn:checked ~ .links {
    height: 28rem !important;
    /* transition: height 0.6s ease-in-out !important; */
  }
  .bg {
    background-image: url("./bg.jpg");
  }